.board {
  height: 100vh;
  width: 100vh;

  .row {
    .box {
      border: 2px solid purple;
      width: 30vh;
      height: 30vh;

      .span-container {
        height: 100%;
        text-align: center;
        line-height: calc(30vh - 20px);
        font-size: 80px;
      }
    }
  }
}
